:root {
    --themcolor: #1E90FF;
    --secondsvg: #FFD54F;
    --firstsvg: #4CAF50;
}

@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body {
    background-color: #FFFFFF;
}
.nav-wrapper{
    background-color: #1E90FF;
}
.brand-logo{
    font-family: 'Roboto Slab',serif;
    font-size: 1.5rem !important;     
    font-weight:400;   
}
.logo-text {
    font-size: 25px !important;
    font-family: 'Roboto Slab', serif;

}

.center-text {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}


/*sidenav*/
.side-nav {
    width:120px;
    opacity: 0.9;
    transition-delay: 0.2s !important;
    transition-timing-function: linear;
    transition: 0.2s ease;
    background-color: #fff;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.sidemenu-item:hover {
    background-color: var(--themcolor);

}

.sidemenu-item:hover .material-icons,
.sidemenu-item:hover .sidemenu-title {
    color: white !important;

}

.sidemenu-link {
    text-align: center;
    margin-top: 0px;
}

.sidemenu-item i {
    color: #757575;
    font-size: 25px;
    position: relative;
    padding: 20px !important;

}

.sidemenu-item span {
    color: #757575;
    font-size: 15px !important;
    text-decoration: none;
    display: block !important;
    margin-top: -15px !important;
    padding-bottom: 15px !important;
}

.nav-wrapper i {
    position: relative;
    left: 15% !important;
    margin-top: 8px;
    cursor: pointer;
    font-size: 30px !important;
}

/*media For Midium Screen*/


/*media For Small Screen*/

@media (max-width:600px) {

    .nav-wrapper i {
        position: relative;
        left: 3% !important;
        margin-top: 0.5rem;
        cursor: pointer;
    }

    .side-nav {
        margin: 0.875px 0px;
    }

    .card-section{
        margin-right:0.2rem;
    }
}

#click-icon {
    list-style-type: none;
}

#click-icon i {
    position: absolute !important;
    top: 0;
    left: 20px !important;

}

.card-content i {
    color: var(--themcolor);
    font-size: 70px;
}
.card{
    height:15rem;
}
.User,
.devloper {
    color: #757575;
    font-size: 0.9375rem !important;
    position: absolute;
    right: 1.25rem;
    top: 0.625rem;
}


.num {
    color: #757575;
    font-family: 'PT Sans', sans-serif;
    font-size: 2.5rem;
    text-align: end;
}

.svg-icon_1 {
    height: 100%;
    width: 100%;
    fill: var(--firstsvg);
}

.svg-icon_2 {
    height: 100%;
    width: 100%;
    fill: var(--secondsvg);
}

.svg-icon_3 {
    height: 100%;
    width: 100%;
    fill: var(--themcolor);
}