<section class="error">
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="error-heading">
                <div class="header">
                    <h4>Uh Ohh !</h4>
                    <P>We Can't find <br>the Page That you're<br>looking For :( </P>
                    <a class="btn btn-large blue" href="/"> GO HOME</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="error-heading">
                <div>
                    <img src="./static/images/injury.svg" alt="svg" class="responsive-img">
                </div>
            </div>
        </div>
    </div>
</section>