<div class="images">
    <img src="/static/images/logo.png" alt="logo" class="img-responsive center">
</div>
<section class="card-section">
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-content ">
                    <img src="/static/images/team.svg" alt="team">
                    <span class="User">
                        User
                    </span>
                    <div class="num">100</div>
                    <svg width="100%" height="30pt" class="svg-icon_1">
                        <g class="ct-grids"></g>
                        <g>
                            <g class="ct-series ct-series-a">
                                <path
                                    d="M0,50L0,50C12.848,45.833,25.695,43.056,38.543,37.5C51.39,31.944,64.238,12.5,77.086,12.5C89.933,12.5,102.781,25,115.629,25C128.476,25,141.324,6.25,154.171,6.25C167.019,6.25,179.867,35,192.714,35C205.562,35,218.41,31.25,231.257,31.25C244.105,31.25,256.952,43.75,269.8,50L269.8,50Z"
                                    class="ct-area"></path>
                            </g>
                        </g>
                        <g class="ct-labels"></g>
                    </svg>
                </div>
            </div>
        </div>
        <!--second Card -->
        <div class="col s12 m6 l4">
            <div class="card ">
                <div class="card-content ">
                    <img src="/static/images/services.svg" alt="">
                    <span class="devloper">
                        Services
                    </span>
                    <div class="num">6</div>
                    <svg width="100%" height="30pt" class="svg-icon_2">
                        <g class="ct-grids"></g>
                        <g>
                            <g class="ct-series ct-series-a">
                                <path
                                    d="M0,50L0,50C11.242,45,22.483,40,33.725,35C44.967,30,56.208,20.769,67.45,20C78.692,19.231,89.933,19.508,101.175,18.75C112.417,17.992,123.658,6.25,134.9,6.25C146.142,6.25,157.383,25,168.625,25C179.867,25,191.108,18.75,202.35,18.75C213.592,18.75,224.833,29.8,236.075,35C247.317,40.2,258.558,45,269.8,50L269.8,50Z"
                                    class="ct-area"></path>
                            </g>
                        </g>
                        <g class="ct-labels"></g>
                    </svg>
                </div>
            </div>
        </div>
        <!--Third card -->
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-content ">
                    <img src="/static/images/ai.svg" alt="">
                    <span class="User">
                        Artificial Intelligence
                    </span>
                    <div class="num">97</div>
                    <svg width="100%" height="30pt" class="svg-icon_3">
                        <g class="ct-grids"></g>
                        <g>
                            <g class="ct-series ct-series-a">
                                <path
                                    d="M0,50L0,50C12.848,41.667,25.695,25,38.543,25C51.39,25,64.238,31.25,77.086,31.25C89.933,31.25,102.781,6.25,115.629,6.25C128.476,6.25,141.324,22.5,154.171,22.5C167.019,22.5,179.867,12.5,192.714,12.5C205.562,12.5,218.41,35.111,231.257,40C244.105,44.889,256.952,46.667,269.8,50L269.8,50Z"
                                    class="ct-area"></path>
                            </g>
                        </g>
                        <g class="ct-labels"></g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>