<div class="formcenter">
  <form class="col s12 ">
    <div class="row center">
      <div class="img-lg">
        <img src="https://img.icons8.com/dotty/80/000000/user-engagement-male.png" class="responsive-img">
      </div>
    </div>
    <div class="center admin">
      <h6>Log in to DocterAI admin</h6>
    </div>
    <div class="row center">
      <div class="input-field col s12">
        <i class="material-icons prefix blue-text" id="icon">email</i>
        <input id="email" type="email text" class="validate" placeholder="Email">
        {{!-- <label>Email</label> --}}
      </div>
    </div>
    <div class="row center">
      <div class="input-field col s12 ">
        <i class="material-icons prefix blue-text" id="icons">https</i>
        <input id="password" type="password text" class="validate" placeholder="Password">
        {{!-- <label for="password">Password</label> --}}
      </div>
    </div>
    <div class="row center">
      <button type="submit">Login</button>
    </div>
    <div class="row center">
      <p>Create new Account !<a href="#" style="padding: 5px;">Signup</a></p>
    </div>
  </form>
</div>