<div class="row service-container">
  <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-content center">
            <img src="/static/images/doctor.svg">
          <span class="card-title center services-header">Desiese Finder</span>
          <p class="center services-summary">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
          <a href="/" class="btn services-button">Go</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-content center">

            <img src="/static/images/bed.svg">
          <span class="card-title center services-header">Bed Tracker</span>
          <p class="center services-summary">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
          <a href="/" class="btn services-button">Go</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-content center">
            <img src="/static/images/blood.svg">
          <span class="card-title center services-header">Skin Cancer</span>
          <p class="center services-summary">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
          <a href="/" class="btn services-button">Go</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-content center">
            <img src="/static/images/sperm.svg">

          <span class="card-title center services-header">Maleria Ditection</span>
          <p class="center services-summary">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
          <a href="/" class="btn services-button">Go</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-content center">
            <img src="/static/images/microscope.svg">

          <span class="card-title center services-header">Pneumonia Ditection</span>
          <p class="center services-summary">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
          <a href="/" class="btn services-button">Go</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-content center">
            <img src="/static/images/tear.svg">

          <span class="card-title center services-header">Blind Ditection</span>
          <p class="center services-summary">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
          <a href="/" class="btn services-button">Go</a>
        </div>
      </div>
    </div>
</div>