<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Doctor AI</a>
    </div>
    <li onclick="openslidemenu()" id="click-icon">
        <a href="#">
            <i class="material-icons " id="cancel">
                arrow_back
            </i>
        </a>
    </li>
</nav>
