<div class="side-nav" id="side-menu">
    <ul class="sidemenu-link sideDr">
        <li class="sidemenu-item">
            <a href="/">
                <i class="material-icons">
                    home
                </i>
                <span class="sidemenu-title"> Home</span>
            </a>
        </li>
        <li class="sidemenu-item">
            <a href="/dashboard">
                <i class="material-icons">
                    dashboard
                </i>
                <span class="sidemenu-title"> Dashboard</span>
            </a>
        </li>
        <li class="sidemenu-item">
            <a href="/services">
                <i class="material-icons">
                    chat
                </i>
                <span class="sidemenu-title">Services</span>
            </a>
        </li>
        <li class="sidemenu-item">
            <a href="/user">
                <i class="material-icons">
                    apps
                </i>
                <span class="sidemenu-title">User</span>
            </a>
        </li>
        <li class="sidemenu-item">
            <a href="/login">
                <i class="material-icons">
                    pages
                </i>
                <span class="sidemenu-title">pages</span>
            </a>
        </li>
        <li class="sidemenu-item">
            <a href="#">
                <i class="material-icons">
                    call
                </i>
                <span class="sidemenu-title">Call</span>
            </a>
        </li>
        <li class="sidemenu-item">
            <a href="#">
                <i class="material-icons">
                    info
                </i>
                <span class="sidemenu-title">Info</span>
            </a>
        </li>
        <li class="sidemenu-item">
            <a href="#">
                <i class="material-icons">
                    touch_app
                </i>
                <span class="sidemenu-title">Touch </span>
            </a>
        </li>
    </ul>
</div>